{% extends 'main/base.html' %}

{% block title %}
Про разработчиков
{% endblock %}

{% block content %}
    <h1>Фотографии научной деятельности нашей команды:</h1>
    <img src="https://cdnn21.img.ria.ru/images/07e4/0b/0d/1584449149_0:444:2649:1934_1920x0_80_0_0_c682b4ec72a5a4282debbee4a832729b.jpg" width="1000" height="500">
    <img src="https://vuzopedia.ru/storage/app/uploads/public/62e/3b3/579/62e3b3579fc39597025227.png" width="1000" height="500">
    <img src="https://edu.vgsa.ru/pluginfile.php/12609/course/overviewfiles/1480780276_17.jpg" width="1000" height="500">
{% endblock %}